@import url('https://cdn-uicons.flaticon.com/2.4.2/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/2.4.2/uicons-brands/css/uicons-brands.css');
@import "tailwindcss";

@plugin "daisyui" {
  themes: vmrt --default;
}

@plugin "daisyui/theme" {
  name: "vmrt";
  default: true;
  prefersdark: false;
  color-scheme: light;

  --color-base-100: oklch(20% 0 0);
  --color-base-200: oklch(14% 0 0);
  --color-base-300: oklch(26% 0 0);
  --color-base-content: oklch(100% 0 0);

  --color-primary: oklch(64% 0.222 41.116);
  --color-primary-content: oklch(97% 0.014 343.198);

  --color-secondary: oklch(98% 0.016 73.684);
  --color-secondary-content: oklch(55% 0.195 38.402);

  --color-accent: oklch(58% 0.233 277.117);
  --color-accent-content: oklch(96% 0.018 272.314);

  --color-neutral: oklch(98% 0.001 106.423);
  --color-neutral-content: oklch(14% 0.004 49.25);

  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);

  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);

  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(98% 0.022 95.277);

  --color-error: oklch(65% 0.241 354.308);
  --color-error-content: oklch(97% 0.014 343.198);

  --radius-selector: 0.5rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}

body {
  font-family: var(--font-montserrat), sans-serif;
}

h1, h2, h3, .leagueSpartan {
  font-family: var(--font-league), sans-serif;
}